<%- include('components/header'); -%>
<div class="row" style="width: 100%; padding-left: 2em; padding-right: 2em; margin: 0;">
    <div class="col-9 pt-5">
       <%- include('components/card_1'); -%> 
    </div>
    <div class="col-3 pt-5">
        <%- include('components/card_2'); -%>
    </div>
</div>

<%- include('components/footer'); -%>