<div class="row">
    <div class="card mb-3 back-color-1 shadow-lg" style="max-height: 220px; width: 100%;">
        <div class="row" >
            <div class="col-3" style="height: 100%;">
                <img src="/images/iphone.jpg" class="card-img" style="height: 100%; width: 220px;" alt="...">
            </div>
            <div class="col-5" >
                <div class="card-body" >
                    <h5 class="card-title pd-5" >Product Name</h5>
                    <p class="card-text">UserName</p>
                    <p class="card-text" >< class="text-muted">Units Remaining</small></p>
                </div>
            </div>
            <div class="col-4" >
                <div class="card-body" >
                    <p class="card-text pd-3 " style="display: inline-block;">Quantity : </p>
                    <input type="text" class="form-control input" style="display: inline-block; width: 45%;" placeholder="input">
                    <button class="btn btn-dark pd-3" style="display: inline-block;" id="addToCart">OK</button>
                    <p class="card-text">Price : </p>
                    <button class="btn btn-dark btn-block pd-3" id="addToCart">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>