<div>
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    </button>

    <div class="dropdown-menu row" style="padding-left: 1em;">
        <div class="form-check form-check-inline col-5">
            <input type="radio" id="newest"  name="fav_language" value="Newest">
            <label class="pl-2 m-0" for="html">Newest</label><br>
          </div>
          <div class="form-check form-check-inline col-5">
            <input type="radio" id="oldest" name="fav_language" value="Oldest">
            <label class="pl-2 m-0" for="html">Oldest</label><br>
          </div>
          <div class="form-check form-check-inline col-5">
            <input type="radio" id="max_price" name="fav_language" value="HTML">
            <label class="pl-2 m-0" for="html">Max Price</label><br>
          </div>
          <div class="form-check form-check-inline col-5">
            <input type="radio" id="min_price" name="fav_language" value="HTML">
            <label class="pl-2 m-0" for="html">Min Price</label><br>
          </div>
          <div class="form-check form-check-inline col-5">
            <input type="radio" id="negotiable" name="fav_language" value="HTML">
            <label class="pl-2 m-0" for="html">Negotiable</label><br>
          </div>
          <div class="form-check form-check-inline col-5">
            <input type="radio" id="not_negotiable" name="fav_language" value="HTML">
            <label class="pl-2 m-0" for="html">Not Negotiable</label><br>
          </div>
    </div>
  </div>
