<div class="container-lg footer-style">
  <footer class="my-3">
    <p class="text-center text-muted text-type-1" style="margin: 0;">Made By Protoy and Farhan</p>
    <p class="text-center text-muted text-type-1" style="margin: 0;">All rights reseved</p>
  </footer>
</div>

</body>

</html>