<div class="rounded shadow-lg back-color-1" style="width: 50%; padding: 10%; margin: 10%; margin-left: 25%;">
    <% let route = '/' + PageName %> 

    <form action="<%= route %>" method="post" style="width: 80%; height: 80%; margin-left: 10%;">
        <% console.log(route) %> 

        <% if(PageName == "login") { %>
            <div class="form-group">
                <h1 class="mb-5" style="color: #0C8140;">Universell Login</h1>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                <small class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input big-checkbox" name="isChecked">
                <label class="form-check-label checkbox-label" for="exampleCheck1">Remember me</label>
            </div>
            <button class="btn-lg btn-block btn-dark" type="submit"> LOG IN </button>
            <button class="btn-lg btn-block btn-dark" onclick="location.href='/signup'" type="button"> SIGN UP </button>

        <% } else { %>
            <div class="form-group">
                <h1 class="mb-5" style="color: #0C8140;">Sign in and explore</h1>
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="name" aria-describedby="emailHelp"
                    placeholder="Enter Username">
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input big-checkbox" name="isChecked">
                <label class="form-check-label checkbox-label" for="exampleCheck1">Agree to the terms and
                    policy</label>
            </div>
            
            <button class="btn-lg btn-block btn-dark" type="submit"> CREATE ACCOUNT </button>
        <% } %>

    </form>
</div>